{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="m-3">
  <h1 class='text-primary'>facebook</h1>
</div>
<div class="m-3">
  <h2>Users<span class='badge bg-secondary'></span></h2>
  <div class=" m-3">
    
    {{#each users}}
 
    <p>
      {{id}}
      {{name}}
      {{gender}}
      {{age}}
    </p>
    <span class='badge text-bg-success col-1'>Friends</span>
    
      {{#each friends}}
      <p>
        {{id}}
        {{name}}
        {{gender}}
        {{age}}
      </p>
      <span class='badge text-bg-primary'>Mutual_friends</span>
      <div>
        {{#each mutual_friends}}
        <p>
          {{id}}
          {{name}}
          {{gender}}
          {{age}}
        </p>
        {{#if mutual_friends}}
        <span class='badge text-bg-primary'>Mutual_friends</span>
        </di>
        {{#each mutual_friends}}
        <p>
          {{id}}
          {{name}}
          {{gender}}
          {{age}}
        </p>
        {{/each}}
      </div>{{/if}}
      {{/each}}
    
   

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">Groups</label>
</div>
    <div>{{#if groups}}
     
      <div class="card  col-6 m-3 p-2">
        {{#each groups}}
        <p>
          {{id}}
          <button type="button" class="btn btn-success mt-2">{{name}}</button>
        <p class="alert alert-success" role="alert">
          {{description}}
        </p>
        </p>
        <div>
          {{#each members}}

          <p>
            {{id}}
            {{name}}
            {{gender}}
            {{age}}
          </p>
          {{/each}}
        </div>
        {{/each}}
      </div>{{/if}}

    </div>
    {{/each}}
  </div>




  <div class="m-5">{{#if groups}}

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked">Groups</label>
</div>
    
   
    <div class="card  col-6 m-3 p-2 ">
      {{#each groups}}
      <p>
        {{id}}
        <button type="button" class="btn btn-warning mt-2">{{name}}</button>
        
      <p class="alert alert-warning" role="alert">
        {{description}}
      </p>
      </p>
      <div>
        {{#each members}}
        <p>
          {{id}}
          {{name}}
          {{gender}}
          {{age}}
        </p>
        {{/each}}
      </div>
      {{/each}}
    </div>{{/if}}
  </div>

  {{/each}}


 
</div>






{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}