{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <h1 class='m-5'>JavaScript
    <span class='badge bg-secondary'></span>
  </h1>
  <div class='row ms-3'>
    <p><strong>{{description}}</strong></p>

    {{#with history}}
      <div class='col-2 alert alert-success'>
        <div>{{year}}</div>
        <div>{{founder}}</div>
      </div>
    {{/with}}

    <br />
    <div>
      <h2><span class='badge bg-secondary'>types</span></h2>
      <ol>
        {{#each types}}
          <li>
            {{this}}

          </li>

        {{/each}}
      </ol>
    </div>

    <br />
    <div>
      <h3><span
          class='badge bg-secondary'
        >syntax</span></h3>
      <ol>
        {{#each syntax}}
          <li>
            {{this}}
          </li>

        {{/each}}
      </ol>
    </div>

    <br />
    <div>
      <h4><span class='badge bg-secondary'>
          features</span></h4>

      <ol>
        {{#each features}}
          <li>{{this}} </li>
        {{/each}}
      </ol>
    </div>

    <br />
    <div>
      <h5><span
          class='badge bg-secondary'
        >libraries</span></h5>
      <ol>
        {{#each libraries}}
          <li>{{this}}</li>
        {{/each}}
      </ol>

    </div>

    <br />

    <label
      class='form-label badge text-bg-secondary col-1 ms-3'
    >tools</label>

    {{#each tools}}
      <div class='form-check'>
        <input
          class='form-check-input ms-1 me-1'
          type='checkbox'
        />
        <label class='form-check-label'>{{this}}</label>
      </div>
    {{/each}}
    <hr class='col-8' />
    <br />
    <div>

      <h6><span class='badge bg-secondary'>
          community</span></h6>

      <ul class='nav'>
        {{#each community}}
          <li class='nav-item col-1 ms-3'>
            <a
              class='nav-link-active'
              aria-current='page'
              href='#'
            >{{name}} {{type}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}