{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


<div class=" row m-5">
    {{#with program}}
    {{#with excursion}}
    <h1 class="text-center">{{name}}</h1>

   
    <img src="https://picsum.photos/1000/400" >
    {{#with location}}
    <h2 class="m-2">{{city}}</h2>
    <h3>{{country}}</h3>

    {{/with}}
  
  <strong> {{date}}</strong> 
</div>
<hr class="m-5">
<div>
    <ul class="m-4">
        {{#each program}}
        <li>
            <div> <strong>{{name}}</strong></div>
            <div>{{type}}</div>
            <div>{{durations}}</div>
            {{#with details}}
            {{#with museum}}
            <div>{{name}}</div>

            {{#with location}}
            <div>
                <address>
                    <h6>{{address}}</h6>
                    <div>{{city}}</div>
                    <h6>{{country}}</h6>
                </address>

            </div>
            {{/with}}
            <ul class="m-4">
                {{#each exhibits}}
                <li>
                    <b>
                        <div><strong>{{name}}</strong></div>
                    </b>
                    <div>{{artist}}</div>
                    <p><q>{{description}}</q></p>
                    <div class="m-2">{{#if audio_guide}}
                        Audio guide
                        {{/if}}
                    </div>
                </li>
        </li>
        {{/each}}
    </ul>
    {{/with}}

    {{#with venue}}
    <div>
        <b><strong>{{name}}</strong></b>
    </div>
    <div>
        {{#with location}}
        <address>
            <div>{{address}}</div>
            <div>{{city}}</div>
            <h6>{{country}}</h6>
    </div>
    </address>
    {{/with}}
</div>
{{/with}}


<ul class="m-4">
    {{#each performers}}
    <li>
        <b>
            <div><strong>{{name}}</strong></div>
        </b>
        <div>{{type}}</div>
    </li>
    {{/each}}
</ul>
<div class="row m-4">
{{#with guide}}
<div >{{language}}</div>
<div >{{rating}}</div>
{{/with}}
</div>
{{/with}}
{{/each}}
</ul>
</div>

{{/with}}
{{/with}}









{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}