 {{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<main class='m-5'>
    <div class='row'>
        <div class='card col-12'>
            <div class='nav'>
                {{#with navigation}}

                {{#each links}}
                <a href='#' class='nav-link
            {{#unless href}}disabled{{/unless}}'>{{text}}</a>

                {{/each}}

                {{/with}}
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-8">
            <h1>{{header}}</h1>
        </div>
        <div class="col-8">
            {{#with contacts_data}}
            <h2 class="mt-5">{{title}}</h2>
            {{#each buttons}}
            <button type="button" class="btn col-4 p-2 
{{#if isPrimary}}btn-warning{{/if}} 
{{#if isOutline}}btn-outline-warning{{/if}}">{{text}}</button>

            {{/each}}
            <div class="row">
                <div class="col-4 mx-1">
                    {{#with form}}
                    {{#with input}}
                    {{#with surname}}
                    <label class="form-label mt-3">{{label}}</label>
                    <input placeholder={{placeholder}} class="form-control">
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
                <div class="col-4 mx-1">
                    {{#with name}}
                    <label class="form-label mt-3">{{label}}</label>
                    <input class="form-control" placeholder={{placeholder}}>
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
                <div class="col-4 mx-1">
                    {{#with phone}}
                    <label class="form-label mt-3 ">{{label}}</label>
                    <input class="form-control" placeholder={{placeholder}}>
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
                <div class="col-4 mx-1">
                    {{#with email}}
                    <label class="form-label mt-3">{{label}}</label>
                    <input class="form-control" placeholder={{placeholder}}>
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
                {{/with}}
                <hr class=" col-10 m-3">
                {{#each switch}}
                <div class="form-check form-switch m-2 ps-5">
                    <label class="form-check-label ps-1">{{text}}</label>
                    <input name="food" class="form-check-input " type="radio" {{#if isActive}}checked{{/if}}>
                </div>
                {{/each}}
                {{/with}}
                <hr class="col-10 m-3">
                {{/with}}
            </div>
        </div>

        <div class="col-4">
            {{#each action_block}}
            <div class="row">
                <a class="btn {{#if isSuccess}}btn-success{{/if}}
        {{#if isDanger}}btn-danger{{/if}}
        {{#if isInfo}}btn-info{{/if}}
        m-1 col-8" href="#">{{text}}</a>

                {{/each}}
            </div>
            <div class="row">
                {{#with total}}
                <div class="g-2">

                    <h4 class="y-1">{{title}}</h4>
                    <ul class="list-group  list-group-flush">
                        {{#each item_list}}

                        <li class="list-group-item ps-1 py-1">
                            {{name}}{{price}}
                        </li>
                        {{/each}}
                    </ul>

                    <ul class="list-group  list-group-flush">
                        {{#each additional_info}}
                        <li class="list-group-item ps-1 py-1">
                            {{text}} {{value}}
                        </li>

                        {{/each}}
                    </ul>
                    {{#with total_price }}
                    {{text}}
                    {{value}}
                    {{/with}}
                    <div class="col-10">
                        {{#each button}}
                        <div class="row">
                            <a class="btn m-1 ps-1 {{#if isPrimary}}btn-primary{{/if}} 
{{#if isOutline}}btn-outline-primary{{/if}}">{{text}}</a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
    </div>
    <div class="row">
        <div class="col-8">
            {{#with delivery}}
            <h3>{{title}}</h3>
            <div class="card px-3">
                <div class="row">
                    {{#each select}}
                    <div class="col-6 p-2">
                        <label class="form-label">{{label}}</label>
                        <select class="form-select">
                            <option selected>{{placeholder}}</option>
                            {{#each options}}

                            <option value="{{value}}">{{text}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="row">
                <div class="col-8  ms-3">
                    {{#each delivery_type}}
                    <div class="form-check p-1">
                        <label class="form-check-label">
                            {{type}}
                        </label>
                        <input name="food" type="radio" class="form-check-input ">
                    </div>
                    {{/each}}
                </div>
            </div>
            <hr class="col-12 m-3 ">

            <div class="row">
                <div class="col-8">
                    {{#with payment}}
                    <h3>{{title}}</h3>
                    <div class="row">
                        {{#each list}}
                        <div class="form-check">
                            <label class="form-check-label">
                                {{type}}
                                <p>{{description}}</p>
                            </label>
                            <input name="food" type="radio" class="form-check-input">
                        </div>
                        {{/each}}
                    </div>
                    {{/with}}
                </div>
                <hr class=" m-3">
                <div class="row">
                    {{#with contact}}
                    <h3 class="mt-1">{{title}}</h3>
                    <div class="col-5 mx-1">
                        {{#with surname}}
                        <label class="form-label mt-3">{{label}}</label>
                        <input class="form-control" placeholder={{placeholder}}>
                        <div class="form-text">{{caption}}</div>

                        {{/with}}
                    </div>
                    <div class="col-5 mx-1">
                        {{#with name}}

                        <label class="form-label mt-3">{{label}}</label>
                        <input class="form-control" placeholder={{placeholder}}>
                        <div class="form-text">{{caption}}</div>

                        {{/with}}
                    </div>
                    <div class="col-5 mx-1">
                        {{#with phone}}

                        <label class="form-label mt-3">{{label}}</label>
                        <input class="form-control" placeholder={{placeholder}}>
                        <div class="form-text">{{caption}}</div>

                        {{/with}}
                    </div>
                    <div class="col-5 mx-1">
                        {{#with email}}

                        <label class="form-label mt-3">{{label}}</label>
                        <input class="form-control" placeholder={{placeholder}}>
                        <div class="form-text">{{caption}}</div>

                        {{/with}}
                    </div>
                    {{/with}}
                </div>
            </div>

            <hr class="g-5">
            <div class="row">
                {{#with coment}}
                <div class="col-8">
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder={{placeholder}}>
                </div>
                {{/with}}
            </div>
        </div>
        {{/with}}
    </div>
    </div>

    <hr class="col-8  g-5">
    {{#with coupon}}
    <h3>{{title}}</h3>
    <div class="row">
        <div class="col-8">
            {{#with select}}
            {{#with availabel_coupon}}

            <label class="form-label col-8">{{label}}</label>
            <select class="form-select form-select-lg">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
            {{/with}}
            {{#with friend_coupon}}
            <label class="form-label col-8 mt-2 pt-2">{{label}}</label>
            <select class="form-select form-select-sm ">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
            {{/with}}

            {{/with}}

            {{#with add}}
            {{#with friend}}

            <label class="form-label mt-3 ">{{label}}</label>
            <input class="form-control" placeholder={{placeholder}}>
            <div class="form-text">{{caption}}</div>
            {{/with}}
            {{#with colleague}}
            <label class="form-label mt-3">{{label}}</label>
            <input class="form-control" placeholder={{placeholder}}>
            <div class="form-text">{{caption}}</div>
            {{/with}}

            {{/with}}
        </div>
    </div>
    {{/with}}

    <hr class=" col-8 mt-2">
    {{#with quiz}}
    <h3>{{title}}</h3>
    {{#with preference}}
    <div class="row">
        <div class="form-check">{{title}}
            {{#each options}}
            <div class="form-check">
                <label class="form-check-label">{{this}}
                </label>
                <input type="radio" name="food" class="form-check-input">
            </div>
            {{/each}}
        </div>
    </div>
    {{/with}}
    {{#with your_expirience}}
    <div class="row ">
        <div class="col-8 mt-2">
            <label class="form-check-label">{{label}}</label>
            <input class="form-control">

        </div>
    </div>

    {{/with}}
    {{#with purchase_frequency}}
    <div class="row">
        <div class="col-8">
            <label class="form-label mt-3">{{label}}</label>
            <select class="form-select">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    </div>
    {{/with}}
    {{#with factors}}
    <div clas="row">
        <div class="col-8 mt-2">
            <div class="form-check p-1">{{title}}
                {{#each options}}
                <div class="form-check">
                    <label class="form-check-label">
                        {{this}}
                    </label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
                {{/each}}
            </div>

        </div>
    </div>
    {{/with}}
    {{/with}}
    </div>
    </div>
    <hr class="mt-2 col-10">
    <footer>
        <div class="nav">
            {{#each footer}}
            <div class="nav-item col-2">
                {{#each this}}
                <a class="nav-link {{#if @last}} disabled {{/if}}" 
                href={{url}}>{{text}}</a>

                {{/each}}
            </div>


            {{/each}}
        </div>
    </footer>
</main>