{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <div>
    {{#with web}}

      <div class="ms-4">
        {{#each languages}}
          <div>
            <h1>{{name}}</h1>
            <img
              class='card-im-top'
              src='https://picsum.photos/400/200'
              
            />

            {{version}}
            <p class='col-5'>{{description}}</p>
          </div>
          
          <div>
            <ol>
              {{#each elements}}
                <li>
                  {{name}}
                  <p>
                    {{description}}
                  </p>
                </li>
                <div>
                  <ol>
                    {{#each attributes}}
                      <li>
                        {{name}}
                        <p>
                          {{description}}
                        </p>
                      </li>
                    {{/each}}
                  </ol>
                </div>
              {{/each}}
            </ol>
          </div>
         
          <div>
            <ol>
              {{#each properties}}
                <li>
                  {{name}}
                  <p>
                    {{description}}
                  </p>
                </li>
                <div>
                  <ol>
                    {{#each values}}
                      <li>
                        {{value}}
                        <p>
                          {{description}}
                        </p>
                      </li>
                    {{/each}}
                  </ol>
                </div>
              {{/each}}
            </ol>
          </div>
        
          <div>
            <ol>
              {{#each functions}}
                <li>
                  {{name}}
                  <p>
                    {{description}}
                    
                  </p>
                </li>
                <div>
                  <ol>
                    {{#each parameters}}
                      <li> 
                        {{name}}
                        {{type}}
                        
                        <p>
                          {{description}}
                         
                        </p>
                      </li>
                    {{/each}}
                  </ol>
                </div>
              {{/each}}
            </ol>
          </div>
        {{/each}}
      </ol>
    {{/with}}
  </div>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}